<!DOCTYPE html>
<html lang="en">
<head>
<%- include head %>
</head>
    <body>
        <%- include header %>
        
        <%- include user %>
        
        <div class="wrap">
            <div class="homepage">
                <div class="homepage-left w260">
                    <div class="homepage-title">
                        <i class="lnr lnr-user"></i><span>我的主页</span>
                    </div>
                    <%- include menu %>
                </div>
                <div class="fr w758">
                    <div class="pd30" style="padding-top:0">
                        <div class="homepage-c">
                            <ul>
                                <% let temp = Object.assign({},queryObj);temp.s = ''; %><li<%- (!queryObj.s) ? ' class=cur' : '' %>><a href="/user/message?<%= querystring.stringify(temp) %>">全部</a></li><% temp = Object.assign({},queryObj);temp.s = 'unread'; %><li<%- (queryObj.s=='unread') ? ' class=cur' :'' %>><a href="/user/message?<%= querystring.stringify(temp) %>">未读消息<% if(data.pendingCount){ %><span class="orange">(<%= data.pendingCount %>)</span><% } %></a></li><% temp = Object.assign({},queryObj);temp.s = 'read'; %><li<%- (queryObj.s=='read') ? ' class=cur' :'' %>><a href="/user/message?<%= querystring.stringify(temp) %>">已读消息</a></li>
                            </ul>
                            <div class="homepage-send-btn btn new-msg-btn"><a href="/user/message/send">新消息</a></div>
                        </div>
                        <div class="homepage-list">
                            <% data.result.forEach( (data) => { %>
                            <div class="homepage-list-message<%= data.status=='unread' ? ' unread' : '' %>">
                                <div class="homepage-list-message-user">
                                    <div class="homepage-list-message-avatar">
                                        <a href="/user/<%= data.author %>">
                                            <img src="<%= (data.userDetail && data.userDetail.avatar) ? data.userDetail.avatar : '/assets/img/user-avatar-default.png'  %>" />
                                        </a>
                                    </div><div class="homepage-list-message-desc">
                                        <h2>
                                            <a href="/user/<%= data.author %>"><%= data.userDetail ? data.userDetail.name : '该用户已注销' %></a>
                                        </h2>
                                        <h4><%= data.postDate %></h4>
                                    </div>
                                </div>
                                <div class="homepage-list-message-more">
                                    <h3><a href="/user/message/<%= data.uuid %>"><%= data.title %></a></h3>
                                    <p>
                                        <%- data.content %>
                                    </p>
                                </div>
                                <div class="homepage-list-message-remove btn event-delete" data-type="message" data-uuid="<%= data.uuid %>">
                                    <i class="lnr lnr-trash"></i>
                                </div>
                            </div>
                            <% } ) %>
                            <% if(!data.result.length){ %>
                            <div class="homepage-list-display">暂无信息</div>
                            <% } %>
                        </div>
                        
                        <% 
                            let page = [];
                            let count = data.count;
                            let last = Math.ceil( data.count / (data.limit || 12) );
                            let cur = (data.offset);

                            let range = [];

                            if(cur>=3){
                                range.push(cur-3);
                                range.push( (cur+2 > last) ? last : (cur+2) );
                            }else{
                                range.push(0);
                                range.push( (4 > last) ? last : (4) );
                            }

                            for(let i = range[0];i<range[1];i++){
                                page.push(i+1);
                            }

                        %>

                        <div id="page">
                            <ul>
                                <% if(cur>=4){ %>
                                    <% queryObj.p = 1; %>
                                    <li><a class="btn" href="/user/message?<%= querystring.stringify(queryObj) %>">
                                        <i class="lnr lnr-chevron-left"></i>
                                    </a></li>
                                <% } %>

                                <% page.forEach( (p) => { %>
                                    <% queryObj.p = p; %>
                                    <li <%= (p==cur) ? ' class=cur' : '' %> ><a class="btn" href="/user/message?<%= querystring.stringify(queryObj) %>"><%= p %></a></li>
                                <% } ) %>
                                <% queryObj.p = last; %>
                                <li>...</li><li><a class="btn" href="/user/message?<%= querystring.stringify(queryObj) %>"><%= last %></a></li>
                                <form action="/user/message?<%= querystring.stringify(queryObj) %>">
                                    <% for( let key in queryObj ){ %>
                                        <% if(key!='p'){ %>
                                        <input type="hidden" name="<%= key %>" value="<%= queryObj[key] %>" />
                                        <% } %>
                                    <% } %>
                                    <li><input type="text" name="p" placeholder="跳转至" /></li><li class="go"><input class="btn" type="submit" value="GO" /></li>
                                </form>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
       
        <%- include footer %>
        
    </body>
</html>
