<!DOCTYPE html>
<html lang="en">
<head>
<%- include head %>
</head>
    <body>
        <%- include header %>
        
        <%- include user %>
       
        <div class="wrap">
            <div class="homepage">
                <div class="homepage-left w260">
                    <div class="homepage-title">
                        <i class="lnr lnr-user"></i><span>我的主页</span>
                    </div>
                    <%- include menu %>
                </div>
                <div class="fr w758">
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                    asd<br />
                </div>
                <div class="clear"></div>
            </div>
        </div>
       
        <%- include footer %>
        
    </body>
</html>
